*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: rgb(123, 119, 172);
}

main {
    display: flex;
    flex-direction: row;
}

main section#cartelas{
    width: 40%;
    height: 30vh;
    background-color: var jogadores = []

    function gerarNumerosAleatorios(quantidade, min, max){
    
        if(quantidade > (max - min)){
            console.log("Intervalo insuficiente ...");
            return;
        }
    
        var numeros = [];
    
        while(numeros.length < quantidade){
            var aleatorio = Math.floor(Math.random()*(max - min) + min);
    
            if(!numeros.includes(aleatorio)){
                numeros.push(aleatorio);
            }
        }
    
        return numeros;
    
    }
    
    function gerarCartela(){
        var nomeJogador = prompt('Digite o nome do jogador');
    
        var cartela = [gerarNumerosAleatorios(5,1,15), gerarNumerosAleatorios(5,16,30), gerarNumerosAleatorios(5,31,45),gerarNumerosAleatorios(5,46,60), gerarNumerosAleatorios(5,61,75)]
    
        jogadores.push({
            nomeJogador: nomeJogador,
            cartela: cartela
        });
    
        desenharCartela(nomeJogador, cartela);
    
        console.log(jogadores)
    }
    
    function reiniciarJogo(){
        jogadores = []
    }
    
    function desenharCartela(nome, cartela){
        var div = document.getElementById('espaco_cartelas');
    
        var tabela = document.createElement('table');
    
        var thead = document.createElement('thead');
    
        var thB = document.createElement('th');
        thB.innerText = 'B';
        var thI = document.createElement('th');
        thI.innerText = 'I';
        var thN = document.createElement('th');
        thN.innerText = 'N';
        var thG = document.createElement('th');
        thG.innerText = 'G';
        var thO = document.createElement('th');
        thO.innerText = 'O';
    
        thead.appendChild(thB)
        thead.appendChild(thI)
        thead.appendChild(thN)
        thead.appendChild(thG)
        thead.appendChild(thO)
    
        for(var i = 0; i < 5; i++){
            var tr = document.createElement('tr');
            for(var j = 0; j < 5; j++){
                var td = document.createElement('td');
                if(i == 2 && j == 2){
                    td.innerText = "X";
                    tr.appendChild(td);
                }else{
                    td.innerText = cartela[j][i]
                    tr.appendChild(td);
                }
            }
            tabela.appendChild(tr)
        }
    
        tabela.appendChild(thead);
        div.appendChild(tabela);
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section#numeros {
    width: 30%;
    height: 76vh;
    background-color: rgb(255, 255, 255);   
    display: flex;
    justify-content: center;
}

section#cartelas div{
    margin-top: 70px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

button{
    height: 20px;
    width: 100px;
}

section#numeros h2{
    margin-top: 20px;
}

footer{
    position: fixed;
    bottom: 0px;
    height: 30px;
    background-color: rgb(238, 130, 130)
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}